# Code
.~lock.*
.excludes
cloudclean.json
manifest.json
*.autosave
*.dll.manifest
*.exp
*_latexmk
*.pyc
*.egg-info
bin
lib
plugins
build
build2
cloudclean_bin
build
build2
build-debug
#Makefile
CMakeCache.txt
CMakeLists.txt.user*
CMakeFiles
cmake_install.cmake
docs/*.pdf
*.manifest.*
*.user
*cbp
*.depends
*.dll*
*.lib
*.cxx
*.webm
*.run
*.pgm
*.o
*.a
*.so
*.so.*
*~
.fuse_*
*.pro.user
qrc_*.cpp
ui_*.h
debuglog.txt